*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul,ol{
    list-style: none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #ECECEC;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

p{
    color: #4A4A4A;
}

nav .nav-box{
    display: flex;
    align-items: center; 
}

.nav-box{
    width: 1600px;
    margin: 20px auto;
}

.nav-text{
    width: 80px;
    height: 30px;
    font-size: 28px;
    font-weight: 648;
    letter-spacing: 1px;
}

.nav-list{
    margin-left: auto;
    display: flex;
}

.nav-link{
   margin: 1px 30px;
   font-size: 16px;
   color: black;
   transition: .3;
}

.nav-link:hover{
    transition: .3;
    margin: 0 30px;
    border-bottom: solid 1px black;
}

.nav-link2{
    height: 41px;
    width: 90px;
    border-radius: 5px;
    padding: 9px;
    background-color: #066F14;
    color: white;
    text-align: center;
    font-size:15px;
    margin-top: 5px;
    margin-left:20px;
    transition: .3s;
}

.nav-link2:hover{
    width: 90px;
    transition: .3s;
    padding: 7.5px;
    background-color: #ECECEC;
    border: solid 1px black;
    color: black;
}

.nav-link1{
    margin: 1px 240px 0 20px;
    font-size: 16px;
    color: black;
    transition: .3;
}

.nav-link1:hover{
    transition: .3;
    margin: 0 240px 0 20px;
    border-bottom: solid 1px black;
}

.main-text h6{
    font-size: 82px;
    font-weight: 649.8;
    line-height: 106px;
    letter-spacing: 3px;
}

.main-text{
    width: 45%;
    margin-top: 70px;
}

.main-all{
    display: flex;
}

.main-all img{
    width: 275px;
    margin-top: 70px;
    margin-left: -30px;
}

.main-all a{
    height: 55px;
    width: 160px;
    border-radius: 4px;
    padding: 15px 33px;
    font-size: 18px;
    line-height: 23px;
    color: white;
    background: #066F14;
    margin-top: 100px;
}

.main-photo img{
    width: 700px;
}

.main-text p:nth-child(1){
    width: 570px;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 40px;
}

main .nav-box{
    width: 1600px;
    margin: 110px auto;
    display: flex;
    justify-content: space-between;
}

.main-all2{
    width: 630px;
    display: flex;
    justify-content: space-between;
}

.main-nomber h5{
    /* width: 300px; */
    font-size: 46px;
    font-weight: 649;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
}    

.main-nomber p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 10px;
    margin-bottom: 120px;

}


