*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul,ol{
    list-style: none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #ECECEC;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

p{
    color: #4A4A4A;
}

nav .nav-box{
    display: flex;
    align-items: center; 
}

.nav-box{
    width: 1600px;
    margin: 20px auto;
}

.nav-text{
    width: 80px;
    height: 30px;
    font-size: 28px;
    font-weight: 648;
    letter-spacing: 1px;
}

.nav-list{
    margin-left: auto;
    display: flex;
}

.nav-link{
   margin: 1px 30px;
   font-size: 16px;
   color: black;
   transition: .3;
}

.nav-link:hover{
    transition: .3;
    margin: 0 30px;
    border-bottom: solid 1px #066F14;
    color: #066F14;
}

.nav-link2{
    height: 41px;
    width: 90px;
    border-radius: 5px;
    padding: 9px;
    background-color: #066F14;
    color: white;
    text-align: center;
    font-size:15px;
    margin-top: 5px;
    margin-left:20px;
    transition: .3s;
}

.nav-link2:hover{
    width: 90px;
    transition: .3s;
    padding: 7.5px;
    background-color: #ECECEC;
    border: solid 1px black;
    color: black;
}

.nav-link1{
    margin: 1px 240px 0 20px;
    font-size: 16px;
    color: black;
    transition: .3;
}

.nav-link1:hover{
    transition: .3;
    margin: 0 240px 0 20px;
    border-bottom: solid 1px #066F14;
    color: #066F14;
}

.main-text h6{
    font-size: 82px;
    font-weight: 649.8;
    line-height: 106px;
    letter-spacing: 3px;
}

.main-text{
    width: 45%;
    margin-top: 70px;
}

.main-all{
    display: flex;
}

.main-all img{
    width: 275px;
    margin-top: 70px;
    margin-left: -30px;
}

.main-all a{
    height: 55px;
    width: 160px;
    border-radius: 4px;
    padding: 15px 33px;
    font-size: 18px;
    line-height: 23px;
    color: white;
    background: #066F14;
    margin-top: 100px;
}

.main-photo img{
    width: 700px;
}

.main-text p:nth-child(1){
    width: 570px;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 40px;
}

main .nav-box{
    width: 1600px;
    margin: 110px auto;
    display: flex;
    justify-content: space-between;
}

.main-all2{
    width: 630px;
    display: flex;
    justify-content: space-between;
}

.main-nomber h5{
    font-size: 46px;
    font-weight: 649;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
}    

.main-nomber p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 10px;
    margin-bottom: 140px;
    color: #1A1A1A;
}

.sec-all-icon{
    display: flex;
}

.sec-all-icon img{
    margin-left: 15px;
    margin-top: 5px;
}

.sec-text h5{
    font-size: 46px;
    width: 500px;
    font-weight: 649;
    line-height: 71px;
    margin-bottom: 35px;
}

.sec-text{
    width: 40%;
    margin-bottom: 200px;
}

.sec-all{
    display: flex;
    justify-content: space-around;
}

.sec-photo{
    height: 287px;
    width: 305px;
    margin-right: 50px;
    border-radius: 4px;
    padding: 22px 21px 22px 21px;
    background: #F6EDE8;
}

.sec-photo img{
    width: 250px;
}

.sec-photo:nth-child(3){
    background: #F0F1F6;
    height: 287px;
    width: 305px;
    border-radius: 4px;
    padding: 22px 21px 22px 21px;

}

.section-green{
    height: 440px;
    width: 446px;
    margin-left: 100px;
    background-color: #066F14;
}

.section-photo img {
    margin: 50px 60px;
}

.section-photo{
    width: 45%;
}

.section-all{
    display: flex;
}

.section-text{
    width: 510px;
    margin-left: 300px;
}

.section-text h6{
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 20px;
}

.section-text p:nth-child(1){
    color: #066F14;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.section-text p:nth-child(3){
    width: 510px;
    font-size: 17px;
    font-weight: 400;
    line-height: 25 px;
    margin-bottom: 20px;
}

.section-text p:nth-child(4){
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 40px;
}

.section-text a{
    height: 55px;
    width: 155px;
    color: white;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    background: #066F14;
    margin-bottom: 200px;
}

.text{
    text-align: center;
    font-size: 41px;
    font-weight: 649;
    line-height: 50px;
}

.tion-text p:hover{
    color: #066F14;
    cursor: pointer;
}

.tion-text-all{
    display: flex;
    margin-left: 670px;
}

.tion-text p{
    margin-right:30px;
    margin-top: 20px;
    margin-bottom: 70px;
    font-weight: 650;
}

.tion-photo{
    height: 313px;
    width: 310px;
    border-radius: 3px;
    background: #e0e4de;
    padding: 20px 35px 0 45px;
    margin-bottom: 60px;
    margin-right: 40px;
    transition: .3s;
}

.photo{
    margin-left: 35px;  
}

.tion-photo:hover{
    background: #f0e7df;
    transition: .3s;
    cursor: pointer;
}

.tion-photo p:nth-child(2){
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 7px;
    color: black;
}

.tion-photo p:nth-child(4){
    font-size: 17px;
    font-weight: 600;
    line-height: 19px;
    color: #1A1A1A;
}

.vector{
    display: flex;
}

.vector1 img{
    margin-right: 5px;
    margin-bottom: 8px;
    margin-top: 5px;
}

.tion-all-photo{
    display: flex;
    margin-left: 100px;
}

.tion-green p{
    height: 55px;
    width: 131px;
    background: #066F14;
    color: white;
    border-radius: 4px;
    margin-left: 720px;
    margin-bottom: 130px;
    padding: 16px 32px 16px 32px;
    text-align: center;
}

.plant-all{
    display: flex;
    margin-left: 100px;
}

.plant-text{
    width: 45%;
}

.plant-green{
    height: 204px;
    width: 725px;
    margin-left: -675px;
    margin-top: 180px;
    padding: 20px 0 0 25px;
    background: #066F14;
    border-radius: 0px;
}

.plant-photo{
    height: 550px;
    width: 602px;
    left: 550px;
    top: 0px;
    background-repeat: no-repeat;
    border-radius: 0px;
    background-image: url(/img/pexels-cottonbro-4507699\ 1.png);
}

.plant-text h6{
    font-size: 40px;
    font-weight: 649;
    line-height: 50px;
    margin-bottom: 10px;
}

.plant-text p{
    width: 500px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.plant-photo-text{
    display: flex;
}

.plant-smal-text h6{
    font-size: 18px;
    font-weight: 100;
    line-height: 25px;
    margin-bottom: 7px;
    color: white;
}

.plant-smal-text{
    margin-left: 10px;
}

.plant-smal-text p{
    font-size: 13px;
    font-weight: 100;
    line-height: 18px;
    color: #D9D9D9;
}

.p-text{
    width: 550px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: white;
    margin-top: 10px;
}

.plant-all-green-text{
    display: flex;
    justify-content: space-between
}

.plant-icon img{
    width: 45px;
    margin-top: 2px;
    margin-right: 25px;
}

.stiker-color{
    height: 24px;
    width: 24px;
    background: #FFFFFF;
    border-radius: 0px;
    text-align: center;
    padding-bottom: 25px;
    margin-top: 5px;
    transition: .5s;
    border: solid 1px rgba(0, 0, 0, 0.336);


}

.stiker-color:hover{
    background: #143B19;
    cursor: pointer;

}

.stiker-all{
    display: flex; 
    margin-left: 655px;
}

.div-color{
    height: 320px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    margin-left: 180px;
    padding: 45px 60px;
    background: #DFFFE3;
}

.div-text h4{
    font-size: 45px;
    font-weight: 649.8;
    line-height: 50px;
}

.div-text p:nth-child(2){
    width: 500px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 33px;
    line-height: 30px;
}

.input{
    height: 56px;
    width: 451px;
    background: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 8px 8px 20px;
}

.div-input-all{
    display: flex;
}

.div-box p{
    height: 40px;
    width: 98px;
    background: #066F14;
    margin-top: 8px;
    margin-left: -105px;
    color: white;
    border-radius: 4px;
    padding: 8px 16px 11px 16px;
}

.div-box:hover{
    cursor: pointer;
}

.div-photo{
    margin-top:-80px;
}


